<div class="container">
  <p>labs works!</p>
  <h1>Hola este es mi primer proyecto</h1>
  <h2>{{welcome}}</h2>
  <ul>
    @for (task of tasks(); track task) {
    <li>
      {{ task }}
    </li>
    }
  </ul>
  <hr />
  <h2>{{ 'Hola'.repeat(4) }}</h2>
  <p>Hola soy {{ person().name }} y mi edad es {{ person().age }}</p>
  <hr />
  <img [src]="img" alt="">
  <input type="text" [value]="person().name">
  <button [disabled]="disabled">Click me</button>
  <p>person: {{ person().name }}</p>
  <hr />
  <button (click)="clickHandler()">click me</button>
  <br>
  <button (dblclick)="clickHandler()">double click me</button>
  <hr />
  <h1>Signals</h1>
  <input type="text" [value]="person().name" (change)="changeHandler($event)">
  <p>name : {{ person().name }}</p>
  <hr />
  <ul>
    @for (task of tasks(); track task; let i = $index) {
    <li>
      {{ i }} {{ task }}
    </li>
    }
  </ul>

  <div>
    @switch (tasks().length) {
    @case (1) {
    <p>total: {{ tasks().length }} item</p>
    }
    @default {
    <p>total: {{ tasks().length }} items</p>
    }
    }
  </div>
  <hr />
  @if (1 == 1) {
  <div>
    My Content
  </div>
  }
  @if (person().name === 'Diego') {
  <div>
    Soy Diego ngIf
  </div>
  }
  @if (person().name === 'Diego') {
  <div>Soy Diego nueva sintaxis</div>
  }
  <input type="number" [value]="person().age" (change)="changeAgeHandler($event)">
  <br>

  @if (person().name === 'Diego' && person().age > 18) {
  <div>
    Soy {{ person().name }} y soy mayor de 18 años
  </div>
  } @else {
  Soy {{ person().name }} y soy menor de 18 años
  }


  @if (person().name === 'Diego' && person().age > 18) {
  <div>Soy {{ person().name }} y soy mayor de 18 años nueva sintaxis</div>
  } @else {
  <div>Soy {{ person().name }} y soy menor de 18 años nueva sintaxis</div>
  }




  <hr />
  <div>
    @switch (person().name) {
    @case ('Diego') {
    <p>Yo soy Diego</p>
    }
    @case ('nicolas') {
    <p>Yo soy nicolas</p>
    }
    @case ('armando') {
    <p>Yo soy armando</p>
    }
    @default {
    <p>No cumplio que ningun nombre permitido</p>
    }
    }
  </div>

  <hr />
  <input type="color" [formControl]="colorCtrl">
  <p>{{ colorCtrl.value }}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>
  <h2>Nuevo for</h2>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
    <li>
      {{ i }} {{ task }}
    </li>
    } @empty {
    <li><strong>la lista esta vacia</strong></li>
    }
  </ul>

  <div>
    @switch (person().name) {
    @case ('Diego') {
    <p>Yo soy Diego</p>
    }
    @case ('nicolas') {
    <p>Yo soy nicolas</p>
    }
    @case ('armando') {
    <p>Yo soy armando</p>
    }
    @default {
    <p>No cumplio que ningun nombre permitido</p>
    }
    }
  </div>
  <h2>Nuevo switch</h2>
  <div>
    @switch (person().name) {
    @case ('Diego') {
    <p>Yo soy Diego</p>
    }
    @case ('nicolas') {
    <p>Yo soy nicolas</p>
    }
    @case ('armando') {
    <p>Yo soy armando</p>
    }
    @default {
    <p>No cumplio que ningun nombre permitido</p>
    }

    }
  </div>


</div>